@charset "UTF-8";

/* CSS Document */


/*-----------achtergrondkleur wit-------*/

body {
    background: #F7F7F7;
}

.navbar-default {
    background: #F7F7F7;
}

footer {
    border-top: 1px solid #eeeeee;
    background-color: #eeeeee;
}

footer hr {
    border-color: #eeeeee;
}